<link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
<style>
    * {
        font-family: 'Young Serif', serif;
    }
    body {
        background-image: url("https://wallpaperaccess.com/full/2718871.jpg");
    }

    .ul {
        text-decoration: underline;
    }

    .out-ln {
        border: solid;
        border-radius: 8px;
        background-color: #fff5;
        backdrop-filter: blur(9px) /*hue-rotate(90deg)*/;
        padding: 1rem;
    }

        .out-ln p,
        .out-ln h1,
        .out-ln h5 {
            /*        color: white;*/
            /*        mix-blend-mode: difference*/
        }


</style>


<div class="out-ln">
    <h1>LETS GET FIT</h1>
    <h5 class="ul">Fitnis Tracker</h5>
    <hr />
    <p>
        Come get fit with Amir, Dylan, Enzo, and Joe Ball with
        our cutting edge weight loss technology. We will be your personal
        guide for your perfect weight loss journy. <br />(Disclaimer: Please
        consult with your doctor to confirm that you are elegable to loose
        weight. Practiceing weightloss can be dangerous for some people.)
    </p>
    <button class="btn btn-primary">Login</button>
    <button class="btn btn-primary">Signup</button>

</div>