@model FitnisTracker.Models.User

@{
    ViewData["Title"] = "Profile";
    Layout = "_Layout";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingWeight" class="control-label"></label>
                <input asp-for="StartingWeight" class="form-control" />
                <span asp-validation-for="StartingWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentWeight" class="control-label"></label>
                <input asp-for="CurrentWeight" class="form-control" />
                <span asp-validation-for="CurrentWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesiredWeight" class="control-label"></label>
                <input asp-for="DesiredWeight" class="form-control" />
                <span asp-validation-for="DesiredWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightIn" class="control-label"></label>
                <input asp-for="HeightIn" class="form-control" />
                <span asp-validation-for="HeightIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalorieLimit" class="control-label"></label>
                <input asp-for="CalorieLimit" class="form-control" />
                <span asp-validation-for="CalorieLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity" class="control-label"></label>
                <input asp-for="Activity" class="form-control" />
                <span asp-validation-for="Activity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
