@model FitnisTracker.Models.User;
@{
    ViewData["Title"] = "Recalibration Page";

}


<html>
<head>
    <title>@ViewData["Title"]</title>
    
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Registration</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Registration" method="post">
                            <!--Current Weight-->
                            <div class="form-group">
                                <label asp-for="CurrentWeight">Current Weight</label>
                                <input asp-for="CurrentWeight"  class="form-control" id="CurrentWeight" placeholder="0.00 lbs">
                                <span asp-validation-for="CurrentWeight" class="text-danger"></span>
                            </div>
                            <!--Desired Weight-->
                            <div class="form-group">
                                <label asp-for="DesiredWeight">Desired Weight</label>
                                <input asp-for="DesiredWeight" class="form-control" id="DesiredWeight" placeholder="0.00 lbs">
                                <span asp-validation-for="DesiredWeight" class="text-danger"></span>
                            </div>
                            <!--Activity Level-->
                            <div class="form-group">
                                <label asp-for="Activity" class="control-label">Activity Level</label>
                                <select asp-for="Activity" class="form-control">
                                    <option value="Empty">Select Activity Level</option>
                                    @foreach (var activityLevel in Enum.GetValues(typeof(FitnisTracker.Models.FitnisActivity)))
                                    {
                                        <option value="@activityLevel">@activityLevel</option>
                                    }
                                </select>
                                <span asp-validation-for="Activity" class="text-danger"></span>
                                <span asp-validation-for="Activity" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary">Calibrate</button>
                            <button type="reset" class="btn btn-primary">Clear</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>

