@model FitnisTracker.Models.CaloryLog

@{
    ViewData["Title"] = "Log Food";
    Layout = "_Layout";
}

<h1>Log Food</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="LoggedAt"></label>
        <input asp-for="LoggedAt" class="form-control" type="datetime-local" />
        <span asp-validation-for="LoggedAt" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Calories"></label>
        <input asp-for="Calories" class="form-control" type="number" />
        <span asp-validation-for="Calories" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.UserId"></label>
        <input asp-for="User.UserId" class="form-control" />
        <span asp-validation-for="User.UserId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Log Food</button>
    </div>
</form>
